{% extends 'app/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block content %}
<div>
    <div class="UserProfile-entry">
        <h2>User:{{AppointmentDetail_list.user.username}}</a></h2>
        <p>Service: {{AppointmentDetail_list.service.name}}</p>
        <p>Service Name: {{AppointmentDetail_list.service.name}}</p> 
        <p>Schedule:
            {% if AppointmentDetail_list.schedule %}
                {{AppointmentDetail_list.schedule.date}} at {{AppointmentDetail_list.schedule.time_slot}}
            {% else %}
                No schedule assigned
            {% endif %}
        </p> 
        <p>Status: {{ AppointmentDetail_list.get_status_display }}</p> 
        <p>Created at: {{ AppointmentDetail_list.created_at }}</p>   
        <button type="submit"><a href="{% url 'appointment' %}">OK</a></button>      
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</div>
{% endblock content %}