{% extends 'app/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block content %}
    <div>
        <div class="profile-container">
            {% for BarangayService in BarangayService_list %}
                <div class="profile-card">
                    <h2>Name: {{BarangayService.name}}</h2>
                    <p>Description: {{BarangayService.description}}</p>
                    <div class="card-actions">
                        <a href="{% url 'barangayservicecreate' %}"  class="btn view">+ Create Service </a>
                        <a href="{% url 'barangayservicedetail' BarangayService.pk %}" class="btn view">View</a>
                        <a href="{% url 'barangayserviceupdate' BarangayService.pk %}" class="btn update">Update</a>
                        <a href="{% url 'barangayservicedelete' BarangayService.pk %}" class="btn delete">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{% static 'js/scripts.js' %}"></script>
    </div>
{% endblock content %}